# Database Configuration
SPRING_DATASOURCE_URL=YOUR_DATABASE_NAME_HERE
SPRING_DATASOURCE_USERNAME=YOUR_USERNAME_HERE
SPRING_DATASOURCE_PASSWORD=yOUR_PASSWORD_HERE

# Spring Boot API Configuration
JWT_SECRET=YOUR_JWT_SECRET_KEY_WITH_HS512_HERE
JWT_EXPIRATION=SET_EXPIRATION_HERE

# Port Configuration
SERVER_PORT=ANY_PORT_YOU_LIKE_DIFFERENT_WITH_FRONTEND